WARNING: resolution of long FQDN fail due to MAXHOSTNAME limit

During testing of dCache in k8s, we noticed that the xrootd client fails to parse URLs due to long FQDN.

```
[2024-08-01 14:36:19.822381 +0000][Error  ][PostMaster        ] [old-store-pool-d-0.old-store-pool-d-svc.dcache-build-127946.svc.cluster.local:31094] Unable to resolve IP address for the host
```

This comes from the limit (79 chars) in `ipAdr` field of struct hpSpec:
```
       char        ipAdr[MAXHOSTNAMELEN+15];
```

https://github.com/xrootd/xrootd/blob/master/src/XrdNet/XrdNetUtils.cc#L179

The workaround in place is to shorten the k8s namespace so as not to overrun the limit.
This is not a direct xrootd client issue, but as more and more testing is done in k8s, you might
see such errors pop up from time to time.

@abh3 Please let me know if you think the patch above is ok, if yes, I will add to 5.7.1 since hpSpec is an internal structure.

@ellert Could you please check if the patch above will break one of the less common platforms which you support? Thank you!

Technically, NI_MAXHOST is meant to be used with getnameinfo() while MAXHOSTNAMELEN is meant for getaddrinfo. Never mind that this is inconsistent as it implies that what nameinfo() returns might not be valid for addrinfo. Additionally, we already violate the getaddrinfo historic limitation by adding 15 to the maximum length. In any case, certain platforms might not like the situation at all as explained here:
https://stackoverflow.com/questions/2916185/passing-a-hostname-of-over-255-characters-to-getaddrinfo-causes-a-getaddrinfo-fa

It appears that Linux doesn't much care but definitely does not return hostnames longer than NI_MAXHOST. So, I'd say this change is unlikely to cause problems but it may not fix all cases where a very large hostname is encountered.

I see, maybe using a size of 256 instead of `NI_MAXHOST` is safer then? If we want to just follow section 2.1 of [RFC1123](https://www.ietf.org/rfc/rfc1123.txt), it might be sufficient, as `NI_MAXHOST` is defined to 1025 on Linux, as far as I can tell.